# Editable install with no version control (appl-project==0.1.0)
certifi==2025.1.31
charset-normalizer==3.4.1
coverage==7.6.1
idna==3.10
iniconfig==2.0.0
packaging==24.2
pluggy==1.5.0
pytest==7.4.4
pytest-cov==4.1.0
requests==2.32.3
urllib3==2.2.3
